body {
    margin: 60px auto;
    width: 65%;
    font:'Calibri', 'Ubuntu', 'Arial', 'Calibri';
    font-size:22px;
    background-color: #fff;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px; /* largeur inter section */
}

a { /* Color of href */
    text-decoration: none;
    color: #159;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Serif', 'Helvetica', 'Arial', 'Sans-Serif';
    color: #4475A6;
}
h1.title {
    text-align: center;
}

h2 {
    color:#0C3D6F;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
p.subtitle {
    color:#9EADBC;
    text-align: center;
}

footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/* not in use for now */
ol.publi {
    list-style: none;
    counter-reset: roman;
    /* position: relative; */
}

ol.publi > li:after {
    content: "";
    display: block;
    height: 1px;
    width: 60%;
    margin: 10px;
    margin-left: 20%;
    background: blue;
}

ol.publi > li.before {
    counter-increment: roman;
    content:"["counter(roman, roman)"] ";
}
