<!DOCTYPE html>
<html>
        <head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
<body>
  <header>
    <h1 class="title">Théo Lacombe</h1>
    <!--<img src="photo.jpg" alt="Theo Lacombe" class="picture" />-->
    <p class="subtitle">Maître de conférence, LIGM, Université Gustave Eiffel</p>
  </header>

<hr>
     <nav>
         <ul>
        		<li><a href="/">Home</a></li>
			<li><a href="/research">Research</a></li>			
			<li><a href="/curriculum">CV</a></li>
        		<li><a href="/teaching">Teaching</a></li>
        		<li><a href="/theatre">ANR TheATRE</a></li>
    		</ul>
		</nav>
                <hr>  
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<hr>
		<footer>
    		<ul>
        		<li><a href="mailto:theo.lacombe@univ-eiffel.fr">email</a></li>
        		<li><a href="https://github.com/tlacombe">github</a></li>
			<li><a href="https://scholar.google.fr/citations?user=e9Xx4ZEAAAAJ&hl=fr">Gscholar</a></li>
			</ul>
		</footer>
	</body>
</html>
